.App {
  text-align: center;
  margin-top: 1rem;
}

.searchForm-wrapper {
  display: flex;
  justify-content: center;
}

.MoviesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MoviesList-item {
  width: calc(25% - 32px);
  margin: 16px;
}